NODE_ENV=development
PORT=3001

# PostgreSQL
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=os_user
DB_PASSWORD=os_pass123
DB_DATABASE=os_service

# RabbitMQ
RABBITMQ_URL=amqp://oficina:oficina123@localhost:5672
